@use "../base/variables" as *;

// Light
// $footer-bg: $white;
// $footer-icon: $black;
// $footer-icon-hover: $gray-500;
// $footer-text: $gray-500;
// $footer-link: $green-600;
// $footer-link-hover: $green-300;

// Dark
$footer-bg: $gray-300;
$footer-icon: $white;
$footer-icon-hover: $white-80;
$footer-text: $white-60;
$footer-link: $green-300;
$footer-link-hover: $green-200;

.footer {
	background-color: $footer-bg;

	&__container {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 4px 20.16px;
		align-items: center;
		padding-block: 8px 16px;

		@media (width >= $bp-tablet) {
			padding-block: 8px 24px;
			row-gap: 8px;
		}

		@media (width >= $bp-desktop) {
			grid-template-columns: auto 1fr auto;
			gap: 0px;
			padding-block: 9px 7px;
		}
	}

	&__logo {
		display: flex;
		width: 169.84px;
		height: 54px;
		margin-inline-start: -19.6px;
		color: $footer-icon;

		@media (width >= $bp-desktop) {
			width: 201.29px;
			height: 64px;
			margin-inline-start: -23px;
		}
	}

	&__social {
		display: flex;
		justify-self: end;
		column-gap: 13px;

		@media (width >= $bp-desktop) {
			order: 2;
			column-gap: 12px;
		}
	}

	&__social-link {
		display: inline-flex;
		width: 24px;
		height: 24px;
		color: $footer-icon;
		transition: color 0.3s ease;

		&:hover {
			color: $footer-icon-hover;
		}
	}

	&__text {
		display: flex;
		flex-wrap: wrap;
		color: $footer-text;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		column-gap: 8px;

		li:not(:first-of-type) {
			position: relative;

			&::before {
				padding-inline-end: 8px;
				content: "•";
			}
		}

		@media (width < $bp-desktop) {
			grid-column: span 2;
		}

		@media (width >= $bp-desktop) {
			margin-top: 8px;
		}
	}

	&__link {
		color: $footer-link;
		font-weight: 600;
		transition: color 0.3s ease;

		&:hover {
			color: $footer-link-hover;
		}
	}
}
