@use "../base/variables" as *;
@use "../components/button" as *;

// Light
// $nav-bg: $white;
// $nav-shadow: $shadow-100;
// $nav-text: $black;
// $nav-divider: $gray-800;

// Dark
$nav-bg: $gray-300;
$nav-shadow: $shadow-dark;
$nav-text: $white;
$nav-divider: $white-10;

:root {
	--nav-height: 54px;

	@media (width >= $bp-desktop) {
		--nav-height: 64px;
	}
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
}

body {
	padding-top: var(--nav-height);
}

section[id] {
	scroll-margin-top: var(--nav-height);
}

.nav {
	background-color: $nav-bg;
	box-shadow: $nav-shadow;

	&__container {
		display: grid;

		@media (width < $bp-desktop) {
			&:has(.nav__button),
			&:has(.nav__lang-menu) {
				grid-template-columns: 64px 1fr 64px;
				padding-inline: 0;
			}
		}

		@media (width >= $bp-desktop) {
			grid-template-columns: min-content 1fr;
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		gap: 3px;
		justify-content: center;
		width: 64px;

		span {
			width: 18px;
			height: 2px;
			background-color: $nav-text;
			border-radius: 2px;
			transform-origin: 0 50%;
			transition: all 0.3s ease;
		}

		&.open {
			span {
				width: 20px;

				&:nth-child(1) {
					rotate: 45deg;
					translate: 2.5px -2px;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					rotate: -45deg;
					translate: 2.5px 2px;
				}
			}
		}

		@media (width >= $bp-desktop) {
			display: none;
		}
	}

	&__logo {
		display: flex;
		width: 169.84px;
		height: var(--nav-height);
		margin-inline: auto;
		color: $nav-text;

		@media (width >= $bp-desktop) {
			width: 201.29px;
			margin-inline-start: -23px;
		}
	}

	&__menu {
		display: none;

		@media (width < $bp-desktop) {
			&.open {
				position: absolute;
				top: var(--nav-height);
				display: block;
				width: 100%;
				max-height: calc(100dvh - var(--nav-height));
				overflow: auto;
				background-color: $nav-bg;

				li:not(:last-of-type) {
					position: relative;

					&::before {
						position: absolute;
						bottom: 0;
						height: 1px;
						background-color: $nav-divider;
						content: "";
						inset-inline: 16px;
					}
				}

				li:has(.nav__menu-button) {
					padding: 16px;
				}
			}
		}

		@media (width >= $bp-desktop) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}

	&__menu-link {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 64px;
		padding-inline: 16px;
		color: $nav-text;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		white-space: nowrap;
		text-decoration: none;

		&::before {
			position: absolute;
			width: 3px;
			height: 100%;
			background-color: $green-300;
			border-radius: 3px;
			opacity: 0;
			transition: opacity 0.3s ease;
			content: "";
			inset-inline-start: 0;
		}

		&:hover,
		&.open {
			&::before {
				opacity: 1;
			}
		}

		@media (width >= $bp-desktop) {
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;

			&::before {
				bottom: 0;
				width: calc(100% - 32px);
				height: 3px;
				inset-inline: 16px;
			}
		}
	}

	&__menu-button {
		@extend %promo;
		@extend %size-64;
		width: 100%;

		@media (width >= $bp-desktop) {
			width: auto;
			margin-left: 16px;
			@include button-size(48px, 24px, 16px, 20px);
		}
	}
}
