@use "sass:map";
@use "../base/colors" as *;
@use "button";

$accordion: (
	"light": (
		bgColor: $white,
		itemShadow: $shadow-card,
		textColor: $black,
		iconColor: $green-600,
		dividerColor: $gray-800
	),
	"dark": (
		bgColor: $gray-300,
		itemShadow: $shadow-dark,
		textColor: $white,
		iconColor: $green-300,
		dividerColor: $white-10
	)
);

$accordion-theme: "dark" !default;
$accordion-styles: map.get($accordion, $accordion-theme);

.accordion {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.accordion__item {
	background-color: map.get($accordion-styles, bgColor);
	border-radius: 8px;
	box-shadow: map.get($accordion-styles, itemShadow);

	&.open {
		.accordion__icon::after {
			opacity: 0;
		}

		.accordion__panel {
			grid-template-rows: 1fr;
		}
	}
}

.accordion__header {
	@extend .button;
	justify-content: space-between;
	width: 100%;
	padding: 32px;
	color: map.get($accordion-styles, textColor);
	font-weight: 500;
	font-size: 24px;
	line-height: 27px;
	column-gap: 24px;
}

.accordion__icon {
	position: relative;
	flex-shrink: 0;
	width: 24px;
	height: 24px;

	&::before,
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: map.get($accordion-styles, iconColor);
		border-radius: 2px;
		transform: translate(-50%, -50%);
		content: "";
	}

	&::before {
		width: 16px;
		height: 2px;
	}

	&::after {
		width: 2px;
		height: 16px;
		opacity: 1;
		transition: opacity 0.2s ease;
	}
}

.accordion__panel {
	display: grid;
	grid-template-rows: 0fr;
	padding-inline: 32px;
	transition: grid-template-rows 0.2s ease;
}

.accordion__content {
	overflow: hidden;
	pointer-events: none;

	&::before {
		display: block;
		width: 100%;
		height: 2px;
		background-color: map.get($accordion-styles, dividerColor);
		content: "";
	}
}

.accordion__text {
	margin-block: 32px;
	color: map.get($accordion-styles, textColor);
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;

	& + & {
		margin-top: 12px;
	}
}
