@use "../base/variables" as *;

// Dark
$form-field: $white;
$form-field-hover: $white-60;
$form-field-focus: $green-300;
$form-alert: $red-600;
$form-dropdown: $gray-300;
$form-dropdown-hover: $gray-500;
$form-hint-text: $green-300;
$form-agreement-text: $white-80;
$form-agreement-link: $green-300;
$form-agreement-link-hover: $green-200;

.b24-form {
	* {
		font-family: "Kaspersky Sans Display", sans-serif !important;
	}

	&-wrapper {
		max-width: 100% !important;
		background-color: transparent !important;
	}

	&-shadow {
		box-shadow: none !important;
	}

	&-field {
		position: relative !important;
		margin-bottom: 16px !important;

		&:has(.b24-form-control-comment) {
			margin-bottom: 32px !important;
		}
	}

	&-field-radio {
		padding: 0 !important;

		.b24-form-control-container {
			display: flex;
			flex-direction: column;
		}

		.b24-form-control {
			min-height: auto !important;
			margin: 0 !important;
			padding: 8px 0 !important;
			background-color: transparent !important;
			border: none !important;
			cursor: pointer !important;
		}

		input[type="radio"] {
			margin-right: 12px !important;
		}
	}

	&-header-padding,
	&-padding-side {
		padding: 0 !important;
	}

	&-control-container {
		margin-bottom: 0 !important;
	}

	// Поле ввода
	&-control {
		&:not(label) {
			height: 48px !important;
			background-color: transparent !important;
			border-color: $form-field !important;
			border-radius: 8px !important;

			&:hover {
				border-color: $form-field-hover !important;
			}

			&:focus {
				border: 2px solid $form-field-focus !important;
			}
		}
	}

	&-control-label {
		font-size: 14px !important;
		line-height: 18px !important;
		opacity: 1 !important;

		&:not(span) {
			color: $white-60 !important;
		}
	}

	&-control-required {
		color: $form-alert !important;
	}

	&-control-alert {
		&:not(.b24-form-field-agreement) {
			margin-bottom: 32px !important;
		}

		.b24-form-control {
			border-color: $form-alert !important;
		}
	}

	&-control-alert-message {
		left: 0 !important;
		padding: 2px 0 0 !important;
		color: $form-alert !important;
		font-weight: 400 !important;
		font-size: 12px !important;
		line-height: 14px !important;
		background-color: transparent !important;
		border-radius: 0 !important;

		&:before,
		&:after {
			content: none !important;
		}
	}

	&-icon-remove {
		display: none !important;
	}

	// Выпадающий список
	&-dropdown-container {
		background-color: $form-dropdown !important;
		border-radius: 8px !important;
		box-shadow: $shadow-dark !important;
	}

	&-dropdown-header {
		border-bottom: none !important;
	}

	&-control-list-selector-item {
		height: 40px !important;
		padding: 12px 8px !important;
		background-color: $form-dropdown !important;
		border-bottom: none !important;

		&:hover {
			background-color: $form-dropdown-hover !important;
			opacity: 1 !important;
		}

		&-title {
			font: inherit !important;
			font-size: 14px !important;
			line-height: 16px !important;
		}
	}

	// Текст подсказки
	&-control-comment {
		position: absolute;
		color: $form-hint-text !important;
		font-size: 12px !important;
		line-height: 14px !important;
		inset-block-end: -16px !important;
		inset-inline-end: 0;
	}

	// Согласие на обработку персональных данных
	&-field-agreement {
		padding-block: 8px;

		.b24-form-control-container {
			display: grid;
			grid-template-columns: 24px 1fr;
			column-gap: 12px;
		}

		.b24-form-control-desc {
			color: $form-agreement-text;
			font-weight: 400;
			font-size: 14px !important;
			line-height: 18px !important;
			opacity: 1 !important;
		}

		.b24-form-field-agreement-link {
			color: $form-agreement-link !important;
			font-weight: 600;
			font-size: 14px !important;
			line-height: 18px !important;
			transition: color 0.3s ease;

			&:hover {
				color: $form-agreement-link-hover !important;
			}
		}

		.b24-form-control-required,
		.b24-form-control-alert-message {
			display: none !important;
		}
	}

	// Кнопка
	&-btn-container {
		margin: 0 !important;
	}

	&-btn-block {
		padding: 0 !important;
	}

	&-btn {
		min-height: 48px !important;
		font-weight: 600 !important;
		font-size: 16px !important;
		line-height: 20px !important;
		background-color: $green-600 !important;
		border-radius: 8px !important;

		&:hover {
			background-color: $green-300 !important;
		}

		&:active {
			background-color: $interface-green-hover !important;
		}

		@media (width >= $bp-tablet) {
			width: auto !important;
		}
	}

	// Капча
	&-recaptcha {
		display: none !important; // Скрываем капчу
		margin: 0 !important;
	}
}
