@use "../base/colors" as *;
@use "../base/mixins" as *;

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius, $font-weight: 600) {
	padding: $padding-y $padding-x;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}

	&:disabled {
		pointer-events: none;
	}
}

%size-40 {
	height: 40px;
	@include button-size(10px, 24px, 16px, 20px, 8px);
}

%size-48 {
	height: 48px;
	@include button-size(14px, 24px, 16px, 20px, 8px);
}

%size-64 {
	height: 64px;
	@include button-size(20px, 24px, 21px, 24px, 8px);
}

%primary-green {
	color: $white;
	background-color: $green-600;
	transition: background-color 0.2s ease;

	&:hover,
	&:focus {
		background-color: $green-300;
	}

	&:active {
		background-color: $interface-green-hover;
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
	}
}

%primary-green-shadow {
	color: $white;
	background-color: $green-600;
	box-shadow: $shadow-green-hover;
	transition: 0.2s ease;
	transition-property: background-color, box-shadow;

	&:hover,
	&:focus {
		background-color: $green-300;
	}

	&:active {
		background-color: $interface-green-hover;
		box-shadow: $shadow-green;
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
		box-shadow: none;
	}
}

%primary-black {
	color: $white;
	background-color: $black;
	transition: 0.2s ease;
	transition-property: color;

	&:hover,
	&:focus {
		color: $green-300;
	}

	&:active {
		color: $green-600;
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
	}
}

%primary-black-shadow {
	color: $white;
	background-color: $black;
	box-shadow: $shadow-card-hover;
	transition: 0.2s ease;
	transition-property: color, box-shadow;

	&:hover,
	&:focus {
		color: $green-300;
		box-shadow: $shadow-card-hover;
	}

	&:active {
		color: $green-600;
		box-shadow: $shadow-card;
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
		box-shadow: none;
	}
}

%primary-white {
	color: $black;
	background-color: $white;
	transition: 0.2s ease;
	transition-property: color;

	&:hover,
	&:focus {
		color: $green-600;
	}

	&:active {
		color: $interface-green-hover;
	}

	&:disabled {
		color: $gray-600;
		background-color: $white-32;
	}
}

%primary-white-shadow {
	color: $black;
	background-color: $white;
	box-shadow: $shadow-card-hover;
	transition: 0.2s ease;
	transition-property: color, box-shadow;

	&:hover,
	&:focus {
		color: $green-600;
		box-shadow: $shadow-card-hover;
	}

	&:active {
		color: $interface-green-hover;
		box-shadow: $shadow-card;
	}

	&:disabled {
		color: $gray-600;
		background-color: $white-32;
		box-shadow: none;
	}
}

%primary-blue {
	color: $white;
	background-color: $blue-600;
	transition: 0.2s ease;
	transition-property: background-color;

	&:hover,
	&:focus {
		background-color: $interface-blue-hover;
	}

	&:active {
		background-color: $interface-blue-pressed;
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
	}
}

%primary-blue-shadow {
	color: $white;
	background-color: $blue-600;
	box-shadow: $shadow-700;
	transition: 0.2s ease;
	transition-property: background-color, box-shadow;

	&:hover,
	&:focus {
		background-color: $interface-blue-hover;
		box-shadow: $shadow-700;
	}

	&:active {
		background-color: $interface-blue-pressed;
		box-shadow: $shadow-100;
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
		box-shadow: none;
	}
}

%primary-red {
	color: $white;
	background: $red-600;
	transition: 0.2s ease;
	transition-property: background;

	&:hover,
	&:focus {
		background: linear-gradient(0deg, rgba($white, 0.16) 0%, rgba($white, 0.16) 100%, $red-600);
	}

	&:active {
		background: linear-gradient(0deg, rgba($black, 0.12) 0%, rgba($black, 0.12) 100%, $red-600);
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
	}
}

%primary-red-shadow {
	color: $white;
	background: $red-600;
	box-shadow: 0 8px 40px 0px rgba(#fa625b, 0.24);
	transition: 0.2s ease;
	transition-property: background, box-shadow;

	&:hover,
	&:focus {
		background: linear-gradient(0deg, rgba($white, 0.16) 0%, rgba($white, 0.16) 100%, $red-600);
	}

	&:active {
		background: linear-gradient(0deg, rgba($black, 0.12) 0%, rgba($black, 0.12) 100%, $red-600);
		box-shadow: 0 4px 40px 0px rgba(#fa625b, 0.2);
	}

	&:disabled {
		color: $gray-800;
		background-color: $gray-600;
		box-shadow: none;
	}
}

%ghost-black {
	color: $black;
	border: 2px solid $black;
	transition: 0.2s ease;
	transition-property: border-color, color;

	&:hover,
	&:focus,
	&:active {
		color: $gray-500;
		border-color: $gray-500;
	}

	&:disabled {
		color: $gray-600;
		background-color: $gray-800;
		border-color: $gray-800;
	}
}

%ghost-grey {
	color: $black;
	border: 2px solid $gray-600;
	transition: 0.2s ease;
	transition-property: border-color, color;

	&:hover,
	&:focus,
	&:active {
		color: $gray-500;
		border-color: $gray-700;
	}

	&:disabled {
		color: $gray-600;
		background-color: $gray-800;
		border-color: $gray-800;
	}
}

%ghost-green {
	color: $green-600;
	border: 2px solid $green-600;
	transition: 0.2s ease;
	transition-property: border-color, color;

	&:hover,
	&:focus {
		color: $green-300;
		border-color: $green-300;
	}

	&:active {
		color: $interface-green-hover;
		border-color: $interface-green-hover;
	}

	&:disabled {
		color: $gray-600;
		background-color: $gray-800;
		border-color: $gray-800;
	}
}
