@use "../base/variables" as *;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	text-decoration: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;

	&:focus {
		outline: none;
	}

	&:disabled {
		pointer-events: none;
	}
}

@mixin button-size($height, $padding-inline, $font-size, $line-height) {
	height: $height;
	padding-inline: $padding-inline;
	font-weight: 600;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: 8px;
}

%size-40 {
	@include button-size(40px, 24px, 14px, 16px);
}

%size-48 {
	@include button-size(48px, 24px, 16px, 20px);
}

%size-64 {
	@include button-size(64px, 24px, 21px, 24px);
}

%size-72 {
	@include button-size(72px, 32px, 24px, 28px);
}

%size-80 {
	@include button-size(80px, 40px, 26px, 32px);
}

%primary-green {
	color: $white;
	background-color: $green-600;

	&:hover,
	&:focus {
		background-color: $green-300;
	}

	&:active {
		background-color: $interface-green-hover;
	}
}

%primary-green-shadow {
	color: $white;
	background-color: $green-600;
	box-shadow: $shadow-green-hover;

	&:hover,
	&:focus {
		background-color: $green-300;
	}

	&:active {
		background-color: $interface-green-hover;
		box-shadow: $shadow-green;
	}
}

%primary-black {
	color: $white;
	background-color: $black;

	&:hover,
	&:focus {
		color: $green-300;
	}

	&:active {
		color: $green-600;
	}
}

%primary-black-shadow {
	color: $white;
	background-color: $black;
	box-shadow: $shadow-card-hover;

	&:hover,
	&:focus {
		color: $green-300;
		box-shadow: $shadow-card-hover;
	}

	&:active {
		color: $green-600;
		box-shadow: $shadow-card;
	}
}

%primary-white {
	color: $black;
	background-color: $white;

	&:hover,
	&:focus {
		color: $green-600;
	}

	&:active {
		color: $interface-green-hover;
	}

	&:disabled {
		color: $gray-600;
		background-color: $white-32;
	}
}

%primary-white-shadow {
	color: $black;
	background-color: $white;
	box-shadow: $shadow-card-hover;

	&:hover,
	&:focus {
		color: $green-600;
		box-shadow: $shadow-card-hover;
	}

	&:active {
		color: $interface-green-hover;
		box-shadow: $shadow-card;
	}

	&:disabled {
		color: $gray-600;
		background-color: $white-32;
	}
}

%primary-blue {
	color: $white;
	background-color: $blue-600;

	&:hover,
	&:focus {
		background-color: $interface-blue-hover;
	}

	&:active {
		background-color: $interface-blue-pressed;
	}
}

%primary-blue-shadow {
	color: $white;
	background-color: $blue-600;
	box-shadow: $shadow-700;

	&:hover,
	&:focus {
		background-color: $interface-blue-hover;
		box-shadow: $shadow-700;
	}

	&:active {
		background-color: $interface-blue-pressed;
		box-shadow: $shadow-100;
	}
}

%primary-red {
	color: $white;
	background: $red-600;

	&:hover,
	&:focus {
		background: #ff5470;
	}

	&:active {
		background: #e4304e;
	}
}

%primary-red-shadow {
	color: $white;
	background: $red-600;
	box-shadow: 0 8px 40px 0px rgba(#fa625b, 0.24);

	&:hover,
	&:focus {
		background: #ff5470;
	}

	&:active {
		background: #e4304e;
		box-shadow: 0 4px 40px 0px rgba(#fa625b, 0.2);
	}
}

%promo {
	position: relative;
	color: $black;
	background: $gradient-green-neon;
	box-shadow: $shadow-neon;

	&::after {
		position: absolute;
		inset: 0;
		background-color: #000000;
		border-radius: inherit;
		opacity: 0;
		transition: opacity 0.3s ease;
		content: "";
	}

	&:hover,
	&:focus {
		background: $gradient-green-neon;
		box-shadow: $shadow-neon-hover;
	}

	&:active {
		background: $gradient-green-neon;
		box-shadow: shadow-neon-active;

		&::after {
			opacity: 0.06;
		}
	}
}

%secondary-black {
	color: $black;
	border: 2px solid $black;

	&:hover,
	&:focus,
	&:active {
		color: $gray-500;
		border-color: $gray-500;
	}
}

%secondary-grey {
	color: $black;
	border: 2px solid $gray-600;

	&:hover,
	&:focus,
	&:active {
		color: $gray-500;
		border-color: $gray-700;
	}
}

%secondary-green {
	color: $green-600;
	border: 2px solid $green-600;

	&:hover,
	&:focus {
		color: $green-300;
		border-color: $green-300;
	}

	&:active {
		color: $interface-green-hover;
		border-color: $interface-green-hover;
	}
}
