@use "../base/variables" as *;

// Light
// $dot: $gray-700;
// $dot-active: $green-300;
// $arrow: $green-600;
// $arrow-hover: $green-300;

// Dark
$dot: $white-32;
$dot-active: $green-300;
$arrow: $green-600;
$arrow-hover: $green-300;

.carousel {
	--slides: 3;
	--slide-spacing: 16px;
	display: grid;
	grid-template-columns: 64px 1fr 64px;
	gap: 40px;

	&__container {
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		margin-inline-start: calc(var(--slide-spacing) * -1);
		touch-action: pan-y pinch-zoom;
	}

	&__slide {
		flex: 0 0 calc(100% / var(--slides));
		min-width: 0;
		padding-inline-start: var(--slide-spacing);
	}

	&__button {
		align-self: center;
		width: 64px;
		height: 64px;
		color: $arrow;
		transition: color 0.3s ease;

		&:hover {
			color: $arrow-hover;
		}

		&[data-prev] {
			order: -1;
			rotate: 180deg;
		}
	}

	&__pagination {
		display: flex;
		grid-column: 2;
		gap: 12px;
		justify-content: center;
	}

	&__dot {
		width: 10px;
		height: 10px;
		background-color: $dot;
		border-radius: 10px;
		transition: all 0.3s ease;

		&--active {
			width: 70px;
			background-color: $dot-active;
		}
	}
}
