@use "../base/variables" as *;

// Light
// $modal-bg: $white;
// $modal-text: $black;
// $modal-button: $gray-700;
// $modal-button-hover: $gray-600;

// Dark
$modal-bg: $gray-300;
$modal-text: $white;
$modal-button: $white-40;
$modal-button-hover: $white-60;

.modal {
	padding: 0;
	overflow: visible;
	color: $modal-text;
	background-color: $modal-bg;
	border: none;
	border-radius: 16px;
	outline: none;

	&::backdrop {
		background-color: rgba(#000000, 0.9);
	}

	[data-close] {
		position: absolute;
		width: 24px;
		height: 24px;
		color: $modal-button;
		transition: color 0.3s ease;

		&:hover {
			color: $modal-button-hover;
		}
	}

	&__content {
		max-width: 584px;
		padding: 32px 24px;

		& + [data-close] {
			inset-block-start: 12px;
			inset-inline-end: 12px;
		}
	}

	#player {
		display: block;
		width: 800px;
		height: 450px;
		overflow: hidden;
		border-radius: 16px;

		& + [data-close] {
			inset-block-start: 0;
			inset-inline-end: -32px;
		}
	}
}
