<section class="cookie">
	<div class="container cookie__container">
		<p class="cookie__text">
			We use cookies to make your experience of our websites better. By using and further navigating this website you accept this. Detailed information about
			the use of cookies on this website is available by clicking on
			<a href="https://www.kaspersky.com/third-party-tracking" target="_blank" class="cookie__link">more information</a>.
		</p>
		<button type="button" class="button cookie__button">Accept and close</button>
	</div>
</section>
