<footer class="footer">
	<div class="container footer__container">
		<a href="https://www.kaspersky.ru" target="_blank" class="footer__logo" aria-label="Лаборатория Касперского">
			<svg aria-hidden="true">
				<use href="#logo" />
			</svg>
		</a>
		<div class="footer__social">
			<a href="https://t.me/kasperskylab_ru" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Telegram">
				<svg aria-hidden="true">
					<use href="#telegram"></use>
				</svg>
			</a>
			<a href="https://www.vk.com/Kaspersky" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="VK">
				<svg aria-hidden="true">
					<use href="#vk" />
				</svg>
			</a>
			<a href="https://dzen.ru/kaspersky_ru" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Dzen">
				<svg aria-hidden="true">
					<use href="#dzen" />
				</svg>
			</a>
			<a href="https://rutube.ru/channel/43034214/" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Rutube">
				<svg aria-hidden="true">
					<use href="#rutube" />
				</svg>
			</a>
		</div>
		<ul class="footer__text">
			<li>&copy; <span id="year"></span> АО «Лаборатория Касперского». Все права защищены </li>
			<li><a href="https://www.kaspersky.ru/web-privacy-policy" target="_blank" class="footer__link">Политика конфиденциальности</a></li>
			<li><a href="https://www.kaspersky.ru/legal" target="_blank" class="footer__link">Юридическая информация</a></li>
			<li><a href="https://www.kaspersky.ru/about/contact" target="_blank" class="footer__link">Контакты</a></li>
		</ul>
	</div>
</footer>
