<footer class="footer">
	<div class="container footer__container">
		<a href="https://www.kaspersky.com" target="_blank" class="footer__logo" aria-label="Kaspersky">
			<svg aria-hidden="true">
				<use href="#logo" />
			</svg>
		</a>
		<div class="footer__social">
			<a href="https://www.facebook.com/Kaspersky" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Facebook">
				<svg aria-hidden="true">
					<use href="#facebook" />
				</svg>
			</a>
			<a href="https://instagram.com/kasperskylab" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Instagram">
				<svg aria-hidden="true">
					<use href="#instagram" />
				</svg>
			</a>
			<a href="https://linkedin.com/company/kaspersky/" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Linkedin">
				<svg aria-hidden="true">
					<use href="#linkedin" />
				</svg>
			</a>
			<a href="https://twitter.com/kaspersky" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="Twitter">
				<svg aria-hidden="true">
					<use href="#twitter" />
				</svg>
			</a>
			<a href="https://youtube.com/Kaspersky" target="_blank" rel="noopener noreferrer" class="footer__social-link" aria-label="YouTube">
				<svg aria-hidden="true">
					<use href="#youtube" />
				</svg>
			</a>
		</div>
		<ul class="footer__text">
			<li> &copy; <span id="year"></span> AO Kaspersky. All Rights Reserved. </li>
			<li><a href="https://www.kaspersky.com/web-privacy-policy" target="_blank" class="footer__link">Privacy Policy</a></li>
			<li><a href="https://www.kaspersky.com/about/contact" target="_blank" class="footer__link">Contacts</a></li>
		</ul>
	</div>
</footer>
