<footer class="footer">
	<div class="container footer__container">
		<a href="https://www.kaspersky.ru" target="_blank" class="footer__logo">
			<svg aria-hidden="true">
				<use href="#logo"></use>
			</svg>
		</a>
		<ul class="footer__social">
			<li>
				<a
					href="https://t.me/kasperskylab_ru"
					target="_blank"
					rel="noopener noreferrer"
					class="footer__social-icon"
					aria-label="Telegram"
				>
					<svg width="24" height="24" aria-hidden="true">
						<use href="#telegram"></use>
					</svg>
				</a>
			</li>
			<li>
				<a
					href="https://www.vk.com/Kaspersky"
					target="_blank"
					rel="noopener noreferrer"
					class="footer__social-icon"
					aria-label="VK"
				>
					<svg width="24" height="24" aria-hidden="true">
						<use href="#vk"></use>
					</svg>
				</a>
			</li>
			<li>
				<a
					href="https://dzen.ru/kaspersky_ru"
					target="_blank"
					rel="noopener noreferrer"
					class="footer__social-icon"
					aria-label="Yandex Dzen"
				>
					<svg width="24" height="24" aria-hidden="true">
						<use href="#dzen"></use>
					</svg>
				</a>
			</li>
			<li>
				<a
					href="https://twitter.com/Kaspersky_ru"
					target="_blank"
					rel="noopener noreferrer"
					class="footer__social-icon"
					aria-label="X (Twitter)"
				>
					<svg width="24" height="24" aria-hidden="true">
						<use href="#twitter"></use>
					</svg>
				</a>
			</li>

			<li>
				<a
					href="https://www.youtube.com/@KasperskyRussia"
					target="_blank"
					rel="noopener noreferrer"
					class="footer__social-icon"
					aria-label="YouTube"
				>
					<svg width="24" height="24" aria-hidden="true">
						<use href="#youtube"></use>
					</svg>
				</a>
			</li>
		</ul>
		<ul class="footer__text">
			<li>&copy; <span id="year"></span> АО «Лаборатория Касперского». Все права защищены</li>
			<li>
				<a href="https://www.kaspersky.ru/web-privacy-policy" target="_blank" class="footer__link">
					Политика конфиденциальности
				</a>
			</li>
			<li>
				<a href="https://www.kaspersky.ru/legal" target="_blank" class="footer__link">Юридическая информация</a>
			</li>
			<li><a href="https://www.kaspersky.ru/about/contact" target="_blank" class="footer__link">Контакты</a></li>
		</ul>
	</div>
</footer>
