@font-face {
	font-family: "Kaspersky Sans Display";
	src: url("../fonts/Kaspersky_Sans_Display_Light.woff2") format("woff2");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Kaspersky Sans Display";
	src: url("../fonts/Kaspersky_Sans_Display_Regular.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Kaspersky Sans Display";
	src: url("../fonts/Kaspersky_Sans_Display_Medium.woff2") format("woff2");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Kaspersky Sans Display";
	src: url("../fonts/Kaspersky_Sans_Display_SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Kaspersky Sans Display";
	src: url("../fonts/Kaspersky_Sans_Display_Bold.woff2") format("woff2");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Kaspersky Sans Display";
	src: url("../fonts/Kaspersky_Sans_Display_ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-display: swap;
}
