$fonts: (
	300: "Light",
	400: "Regular",
	500: "Medium",
	600: "SemiBold",
	700: "Bold",
	800: "ExtraBold"
);

@each $weight, $name in $fonts {
	@font-face {
		font-family: "Kaspersky Sans Display";
		src: url("/fonts/Kaspersky_Sans_Display_#{$name}.woff2") format("woff2");
		font-weight: $weight;
		font-display: swap;
	}
}
